:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #ffffff;
  --border: #c0d8d8;
  --code-bg: #f4f3ec;
  --accent: #f07848;
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}
