:root {
  --navbar-height: 4.125rem;
}

.navbar {
  position: sticky;
  top: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--accent);
  color: white;
  height: var(--navbar-height);
  width: 100%;
  box-sizing: border-box;

  z-index: 1000;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 40px;
  width: auto;
}

.brandName {
  font-size: 1.5rem;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;

  color: white;
}

.navItem {
  padding: 0.5rem;
  border-radius: 0.5rem;

  & > a {
    --link-accent-color: #FDFCEE;
    --link-bar-color: var(--accent);
  }
}

.navItem.highlighted {
  background-color: #FDFCEE;
  color: #3A3232;

  & > a {
    --link-accent-color: var(--accent);
    --link-bar-color: white;
  }
}
