PORT = '3000'
BASE_URL=http://localhost:3000
FRONTEND_URL = 'http://localhost:5173'

IMAGES_PATH=/home/user/superacao/images
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=root

JWT_SECRET="chave_segura"

EMAIL_USER=noreply@superacao.com
EMAIL_PASSWORD=MinhaSenha123!
