.modal {
  width: 100%;
}

.confirmHint {
  color: var(--text);
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  background-color: var(--code-bg);
  color: var(--text);
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.cancelButton {
  --button-bg: var(--code-bg) !important;
  color: var(--text);
}