.section {
    position: relative;
    
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

.filtersContainer {
    position: sticky;
    top: var(--navbar-height);
    background-color: var(--bg);
    box-shadow: 0 18px 6px -6px rgba(0, 0, 0, 0.1);
    
    display: grid;
    gap: 1rem;

    padding: 0.5rem 0 1rem 0;

    z-index: 2;

    & > h4 {
        color: #04805C;
    }
}

.filtersForm {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    gap: 1rem;

    & > button {
        align-self: center;
    }
}

.eventsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1rem;

    &:has(>p) {
        grid-template-columns: 1fr;
    }

    & > p {
        margin: auto;
        text-align: center;
        color: #666;
    }
}