.label {
  display: grid;
  position: relative;

  & > span {
    pointer-events: none;
    
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding: 0 0.25rem;
    font-size: 0.75rem;

    cursor: text;

    transform-origin: left top;
    transform: translate(1rem, calc(50% + 0.25ch));

    transition: transform ease-in-out 0.2s;
  }

  &:has(input:focus, input:not(:placeholder-shown)) {
    & > span {
      transform: translate(0.75rem, -1.25rem) scale(1.33);
    }
  }
}

.input {
  padding: 1rem 0.75rem;
  border: 2px solid var(--border);
  border-radius: 1rem;
}
