.main {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: var(--bg);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
  width: 100%;
  max-width: 600px; 
  background: white;
  padding: 2rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.form button {
  align-self: center;
  min-width: 200px;
}