.button {
  --button-bg: var(--accent);
  --button-border-color: var(--button-bg);
  --text-color: white;

  height: 2.5rem;

  &[data-compact='true'] {
    height: fit-content;
    padding: 0.25rem 0.5rem;
  }
  
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 1000px;

  background-color: var(--button-bg);
  border: 1px solid var(--button-border-color);

  color: var(--text-color);
  font-size: 1rem;
  text-align: center;

  cursor: pointer;

  transition: all ease-in-out 0.2s;

  &:disabled {
    cursor: not-allowed;
    background-color: color-mix(in srgb, var(--button-bg) 60%, var(--bg));
    border-color: color-mix(in srgb, var(--button-border-color) 60%, var(--bg));
  }

  & > span {
    flex: 1;
  }

  &:not(:disabled):hover {
    background-color: oklch(from var(--button-bg) calc(0.85 * l) c h);
  }

  &.primary {
    --button-bg: var(--accent);
  }

  &.secondary {
    --button-bg: #c0d8d8;
    --text-color: #04805c;
  }

  &.terciary {
    --button-bg: var(--terciary-bg, #ffffff);
    --text-color: var(--terciary-text, #d83018);
    --button-border-color: var(--terciary-border, #d83018);
    --font-weight: var(--terciary-font-weight, normal);
    border: 1px solid var(--button-border-color);
    font-weight: var(--font-weight);

    &:not(:disabled):hover {
      background-color: var(--text-color);
      color: var(--button-bg);
    }
  }
}
