.button {
  --button-bg: var(--accent);
  --text-color: white;
  
  height: 2.5rem;
  
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 1000px;

  background-color: var(--button-bg);

  color: var(--text-color);
  font-size: 1rem;
  text-align: center;

  cursor: pointer;

  transition: background-color ease-in-out 0.2s;

  &:disabled {
    cursor: not-allowed;
  }

  & > span {
    flex: 1;
  }

  &:not(:disabled):hover {
    background-color: oklch(from var(--button-bg) calc(0.85 * l) c h);
  }

  &.primary {
  --button-bg: var(--accent);
  }

  &.secondary {
    --button-bg: #C0D8D8;
    --text-color: #04805C;
  }

  &.terciary {
    --button-bg: #FFFFFF;
    --text-color: #D83018;
    --border-color: #D83018;
    border: 1px solid #D83018;
  }

}
